# GRUB Configuration for TurboLinux
insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod lvm
insmod btrfs
insmod zfs
insmod ext2
insmod exfat
insmod ntfs
insmod xfs

insmod all_video
insmod font

if loadfont "${prefix}/fonts/unicode.pf2"; then
    insmod gfxterm
    set gfxmode="auto"
    terminal_input console
    terminal_output gfxterm
fi

menuentry "TurboLinux Gaming (Live)" --class arch --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% copytoram=y nvidia_drm.modeset=1 cow_spacesize=10G
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
}

menuentry "TurboLinux Gaming (Nomodeset - Safe Mode)" --class arch --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% copytoram=y nomodeset cow_spacesize=10G
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
}

menuentry "UEFI Shell" {
    if [ -f /shellx64.efi ]; then
        chainloader /shellx64.efi
    elif [ -f /EFI/BOOT/BOOTX64.EFI ]; then
        chainloader /EFI/BOOT/BOOTX64.EFI
    fi
}
